<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ISM</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <!-- <link href="../static/css/plugins/morris.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" > ACME Supermarket(Nugegoda)  </a>



            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">

            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                 <ul class="nav navbar-nav side-nav">
                    <li >
                        <a href="{{ url_for('home') }}"><i class="fa fa-fw fa-dashboard"></i> Home</a>
                    </li>
                    <li >
                        <a href="{{ url_for('itemsales') }}"><i class="fa fa-fw fa-bar-chart-o"></i> Item Sales</a>
                    </li>
                    <li  >
                        <a href="{{ url_for('StockNotification') }}"><i class="fa fa-fw fa-bell-o"></i> Notifications </a>
                    </li>

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Items <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="{{ url_for('Instantfoodproducts') }}">Instant food products</a>
                            </li>
                            <li>
                                <a href="{{ url_for('UHTmilk') }}">UHT-milk</a>
                            </li>
                            <li>
                                <a href="{{ url_for('abrasivecleaner') }}">Abrasive cleaner</a>
                            </li>
                            <li>
                                <a href="{{ url_for('bakingpowder') }}">baking powder</a>
                            </li>
                        </ul>
                    </li>
                    <li >
                        <a href="{{ url_for('itemPatterns') }}"><i class="fa fa-fw fa-pie-chart"></i> Buying Patterns</a>
                    </li>
                    <li class="active">
                        <a href="{{ url_for('customersegments') }}"><i class="fa fa-fw fa fa-group"></i> Customer Base Info</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">



                            Customer segments <small> Segmented buying patterns</small>



                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Home

                            </li>
                            <li>
                                <i class="fa fa-desktop"></i> Customer segments
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->


                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6 col-md-12">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-check-square fa-2x">   </i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Customer Groups</div>
                                       <!-- <h2> Customer groups</h2> -->
                                        <!-- <div>Top Selling Items</div> -->
                                    </div>
                                </div>
                            </div>
{#                            <a href="#">#}
                                <div class="panel-footer">
{#                                    <span class="pull-left">View Details</span>#}
                                    <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>

                                        <th>Base Segment ID</th>
                                        <th>Number of customers</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cbase in patternlist %}
                                    <tr>
                                        <td>Type : {{ cbase.segmentid }}</td>
                                        <td>{{ cbase.size }}</td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
{#                            </a>#}
                        </div>
                    </div>

<!-- {#                    <div class="col-lg-3 col-md-6">#}
{#                        <div class="panel panel-green">#}
{#                            <div class="panel-heading">#}
{#                                <div class="row">#}
{#                                    <div class="col-xs-3">#}
{#                                        <i class="fa fa-tasks fa-5x"></i>#}
{#                                    </div>#}
{#                                    <div class="col-xs-9 text-right">#}
{#                                        <div class="huge">12</div>#}
{#                                        <div>New Tasks!</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <a href="#">#}
{#                                <div class="panel-footer">#}
{#                                    <span class="pull-left">View Details</span>#}
{#                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>#}
{#                                    <div class="clearfix"></div>#}
{#                                </div>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-3 col-md-6">#}
{#                        <div class="panel panel-yellow">#}
{#                            <div class="panel-heading">#}
{#                                <div class="row">#}
{#                                    <div class="col-xs-3">#}
{#                                        <i class="fa fa-shopping-cart fa-5x"></i>#}
{#                                    </div>#}
{#                                    <div class="col-xs-9 text-right">#}
{#                                        <div class="huge">124</div>#}
{#                                        <div>New Orders!</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <a href="#">#}
{#                                <div class="panel-footer">#}
{#                                    <span class="pull-left">View Details</span>#}
{#                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>#}
{#                                    <div class="clearfix"></div>#}
{#                                </div>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#} -->
                    <div class="col-lg-6 col-md-12">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Customer Base Distribution</div>
                                        <!-- <div>Least Selling Items</div> -->
                                    </div>
                                </div>
                            </div>
                                <div class="panel-footer">
                                   <!--  <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>

                                        <th>Item name</th>
                                        <th>Item Total Sales</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in leastlist %}
                                    <tr>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.soldTotal }}</td>
                                    </tr>
                                      
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div> -->
                                    <canvas id="piechart"></canvas>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

<!--                 <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> 0 Sale Items</h3>
                            </div>
                            <div class="panel-body">

                                        {% if zlist|length > 0 %}
                                                <div class="alert alert-danger alert-dismissable fade in">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <strong>Notification</strong> {{zlist|length}} dead items found in transactions .
                                            </div>
                                                  <table class="table table-bordered table-hover table-striped">
                                                <thead>
                                                    <tr>

                                                        <th>Item name</th>
                                                        <th>Item Description</th>
                                                        <th>|</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in zlist %}
                                                    <tr style="color:red;">
                                                        <td>{{ item.name }}</td>
                                                        <td>{{ item.description }}</td>
                                                        <td>  <button id="details" type="button" class="btn btn-default">Details</button> </td>
                                                    </tr>
                                                    {#  =========================#}

                                            <div id="detailsmodal" class="modal fade" role="dialog">
                                              <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Modal Header</h4>
                                                  </div>
                                                  <div class="modal-body">
                                                    <p>Some text in the modal.</p>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                  </div>
                                                </div>

                                              </div>
                                            </div>

{#                                        ===========================#}
                                                    {% endfor %}

                                                </tbody>
                                                  </table>
                                        {% else %}
                                                <div class="alert alert-success alert-dismissable fade in">
                                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                    <strong>Notification </strong> TNo  0 sale Dead items found.
                                                </div>
                                       {% endif %}

                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="row">
                   <!--  <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-area-chart"></div>
                            </div>
                        </div>
                    </div> -->
                       <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Customer Base Distribution</h3>
                            </div>
                            <div class="panel-footer">


                                </canvas><canvas id="myChart"></canvas>


                            </div>
                        </div>
                    </div>
                </div>
                    
                </div>
                <!-- /.row -->


                <div id="c1" class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Segment 1 Buying patterns</h3>
                            </div>
                            <div class="panel-body">

                            <canvas id="c1chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>

                <div id="c2" class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Segment 2 Buying patterns</h3>
                            </div>
                            <div class="panel-body">

                            <canvas id="c2chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>

                <div id="c3" class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Segment 3 Buying patterns</h3>
                            </div>
                            <div class="panel-body">

                            <canvas id="c3chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>

                <div id="c4" class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Segment 4 Buying patterns</h3>
                            </div>
                            <div class="panel-body">

                            <canvas id="c4chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>


                <div id="c5" class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Segment 5 Buying patterns</h3>
                            </div>
                            <div class="panel-body">

                            <canvas id="c5chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>



                <div id="c6" class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Segment 6 Buying patterns</h3>
                            </div>
                            <div class="panel-body">

                            <canvas id="c6chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>


<!--                 <div id="c7" class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Segment 7 Buying patterns</h3>
                            </div>
                            <div class="panel-body">

                            <canvas id="c7chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>

                <div id="c8" class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Segment 8 Buying patterns</h3>
                            </div>
                            <div class="panel-body">

                            <canvas id="c8chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>

                <div id="c9" class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Segment 9 Buying patterns</h3>
                            </div>
                            <div class="panel-body">

                            <canvas id="c9chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div> -->

<!-- ........................................................................................ -->
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
  <!--   <script src="../static/js/plugins/morris/raphael.min.js"></script>
    <script src="../static/js/plugins/morris/morris.min.js"></script>
    <script src="../static/js/plugins/morris/morris-data.js"></script> -->

    <script type="text/javascript">


   $(document).ready(function(){



           $.ajax({
        type: 'POST',
        url: '/getSegments',
        dataType: "json ",
        async:false,
        success: function(response) {
            var NameArr = [];
            var TotalArr = [];

            // console.log(data + "sss");
             var js = $.parseJSON('[' + response + ']');
                console.log(js)
                console.log(js[0].segmentid)
                console.log(js[0].size)
                var text ;
                for (i = 0; i < js.length; i++) {
                    NameArr.push(js[i].segmentid)
                }
                for (i = 0; i < js.length; i++) {
                    TotalArr.push(js[i].size)
                }
                // alert(TotalArr[0])
                var ctx = document.getElementById("piechart").getContext('2d');
                var myChart = new Chart(ctx, {
                  type: 'bar',
                  data: {
                    labels: NameArr,
                    datasets: [{
                      label: 'Distribution overview',
                      data: TotalArr,
                      backgroundColor: "rgba(38,112,177,1)"
                    }]
                  }
                });
        }
            });


                      $.ajax({
        type: 'POST',
        url: '/getSegments',
        dataType: "json",
        async:false,
        success: function(response) {
                
                  response = $.parseJSON('[' + response + ']');
                  console.log(response[0]+ " ===")
                console.log(response[0].impactSize+ " ===")
                var NameArr = []; 
                var ImpArr = []; 
                var ClrArr = ["#ff0000","#990099","#ff9900","#009900","#3399ff","#666699","#00cc99","#ffff00","#ccff99"];
                for (i = 0; i < response.length; i++) { 
                    NameArr.push("segment " + String(response[i].segmentid))
                    ImpArr.push(response[i].size)
                    // ClrArr.push(response[i].color)
                }
                
                var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx, {
                  type: 'pie',
                  data: {
                    labels: NameArr,
                    datasets: [{
                      label: 'Customer Base',
                      data: ImpArr,
                      backgroundColor:  ClrArr
                    }]
                  }
                });
        }
            });



//=======C1
                      $.ajax({
        type: 'POST',
        url: '/getpatternsc1',
        dataType: "json",
        async:false,
        success: function(response) {
                
                  response = $.parseJSON('[' + response + ']');
                  console.log(response[0]+ " ===")
                console.log(response[0].impactSize+ " ===")
                var NameArr = []; 
                var ImpArr = []; 
                var ClrArr = ["#ff0000","#990099","#ff9900","#009900"];
                for (i = 0; i < response.length; i++) { 
                    NameArr.push(response[i].items)
                    ImpArr.push(response[i].support)
                    // ClrArr.push(response[i].color)
                }
                
                var ctx = document.getElementById("c1chart").getContext('2d');
                var myChart = new Chart(ctx, {
                  type: 'pie',
                  data: {
                    labels: NameArr,
                    datasets: [{
                      label: 'Customer Base',
                      data: ImpArr,
                      backgroundColor:  ClrArr
                    }]
                  }
                });
        }
            });

        $.ajax({
        type: 'POST',
        url: '/getpatternsc2',
        dataType: "json",
        async:false,
        success: function(response) {
                
                  response = $.parseJSON('[' + response + ']');
                  console.log(response[0]+ " ===")
                console.log(response[0].impactSize+ " ===")
                var NameArr = []; 
                var ImpArr = []; 
                var ClrArr = ["#ff0000","#990099","#ff9900","#009900"];
                for (i = 0; i < response.length; i++) { 
                    NameArr.push(response[i].items)
                    ImpArr.push(response[i].support)
                    // ClrArr.push(response[i].color)
                }
                
                var ctx = document.getElementById("c2chart").getContext('2d');
                var myChart = new Chart(ctx, {
                  type: 'pie',
                  data: {
                    labels: NameArr,
                    datasets: [{
                      label: 'Customer Base',
                      data: ImpArr,
                      backgroundColor:  ClrArr
                    }]
                  }
                });
        }
            });

                $.ajax({
        type: 'POST',
        url: '/getpatternsc3',
        dataType: "json",
        async:false,
        success: function(response) {
                
                  response = $.parseJSON('[' + response + ']');
                  console.log(response[0]+ " ===")
                console.log(response[0].impactSize+ " ===")
                var NameArr = []; 
                var ImpArr = []; 
                var ClrArr = ["#ff0000","#990099","#ff9900","#009900"];
                for (i = 0; i < response.length; i++) { 
                    NameArr.push(response[i].items)
                    ImpArr.push(response[i].support)
                    // ClrArr.push(response[i].color)
                }
                
                var ctx = document.getElementById("c3chart").getContext('2d');
                var myChart = new Chart(ctx, {
                  type: 'pie',
                  data: {
                    labels: NameArr,
                    datasets: [{
                      label: 'Customer Base',
                      data: ImpArr,
                      backgroundColor:  ClrArr
                    }]
                  }
                });
        }
            });


                $.ajax({
        type: 'POST',
        url: '/getpatternsc4',
        dataType: "json",
        async:false,
        success: function(response) {
                
                  response = $.parseJSON('[' + response + ']');
                  console.log(response[0]+ " ===")
                console.log(response[0].impactSize+ " ===")
                var NameArr = []; 
                var ImpArr = []; 
                var ClrArr = ["#ff0000","#990099","#ff9900","#009900"];
                for (i = 0; i < response.length; i++) { 
                    NameArr.push(response[i].items)
                    ImpArr.push(response[i].support)
                    // ClrArr.push(response[i].color)
                }
                
                var ctx = document.getElementById("c4chart").getContext('2d');
                var myChart = new Chart(ctx, {
                  type: 'pie',
                  data: {
                    labels: NameArr,
                    datasets: [{
                      label: 'Customer Base',
                      data: ImpArr,
                      backgroundColor:  ClrArr
                    }]
                  }
                });
        }
            });

         $.ajax({
        type: 'POST',
        url: '/getpatternsc5',
        dataType: "json",
        async:false,
        success: function(response) {
                
                  response = $.parseJSON('[' + response + ']');
                  console.log(response[0]+ " ===")
                console.log(response[0].impactSize+ " ===")
                var NameArr = []; 
                var ImpArr = []; 
                var ClrArr = ["#ff0000","#990099","#ff9900","#009900"];
                for (i = 0; i < response.length; i++) { 
                    NameArr.push(response[i].items)
                    ImpArr.push(response[i].support)
                    // ClrArr.push(response[i].color)
                }
                
                var ctx = document.getElementById("c5chart").getContext('2d');
                var myChart = new Chart(ctx, {
                  type: 'pie',
                  data: {
                    labels: NameArr,
                    datasets: [{
                      label: 'Customer Base',
                      data: ImpArr,
                      backgroundColor:  ClrArr
                    }]
                  }
                });
        }
            });

                  $.ajax({
        type: 'POST',
        url: '/getpatternsc6',
        dataType: "json",
        async:false,
        success: function(response) {
                
                  response = $.parseJSON('[' + response + ']');
                  console.log(response[0]+ " ===")
                console.log(response[0].impactSize+ " ===")
                var NameArr = []; 
                var ImpArr = []; 
                var ClrArr = ["#ff0000","#990099","#ff9900","#009900"];
                for (i = 0; i < response.length; i++) { 
                    NameArr.push(response[i].items)
                    ImpArr.push(response[i].support)
                    // ClrArr.push(response[i].color)
                }
                
                var ctx = document.getElementById("c6chart").getContext('2d');
                var myChart = new Chart(ctx, {
                  type: 'pie',
                  data: {
                    labels: NameArr,
                    datasets: [{
                      label: 'Customer Base',
                      data: ImpArr,
                      backgroundColor:  ClrArr
                    }]
                  }
                });
        }
            });


                  $.ajax({
        type: 'POST',
        url: '/getpatternsc7',
        dataType: "json",
        async:false,
        success: function(response) {
                
                  response = $.parseJSON('[' + responworkingtemplatese + ']');
                  console.log(response[0]+ " ===")
                console.log(response[0].impactSize+ " ===")
                var NameArr = []; 
                var ImpArr = []; 
                var ClrArr = ["#ff0000","#990099","#ff9900","#009900"];
                for (i = 0; i < response.length; i++) { 
                    NameArr.push(response[i].items)
                    ImpArr.push(response[i].support)
                    // ClrArr.push(response[i].color)
                }
                
                var ctx = document.getElementById("c7chart").getContext('2d');
                var myChart = new Chart(ctx, {
                  type: 'pie',
                  data: {
                    labels: NameArr,
                    datasets: [{
                      label: 'Customer Base',
                      data: ImpArr,
                      backgroundColor:  ClrArr
                    }]
                  }
                });
        }
            });



                        $.ajax({
        type: 'POST',
        url: '/getpatternsc8',
        dataType: "json",
        async:false,
        success: function(response) {
                
                  response = $.parseJSON('[' + response + ']');
                  console.log(response[0]+ " ===")
                console.log(response[0].impactSize+ " ===")
                var NameArr = []; 
                var ImpArr = []; 
                var ClrArr = ["#ff0000","#990099","#ff9900","#009900"];
                for (i = 0; i < response.length; i++) { 
                    NameArr.push(response[i].items)
                    ImpArr.push(response[i].support)
                    // ClrArr.push(response[i].color)
                }
                
                var ctx = document.getElementById("c8chart").getContext('2d');
                var myChart = new Chart(ctx, {
                  type: 'pie',
                  data: {
                    labels: NameArr,
                    datasets: [{
                      label: 'Customer Base',
                      data: ImpArr,
                      backgroundColor:  ClrArr
                    }]
                  }
                });
        }
            });


        $.ajax({
        type: 'POST',
        url: '/getpatternsc9',
        dataType: "json",
        async:false,
        success: function(response) {
                
                  response = $.parseJSON('[' + response + ']');
                  console.log(response[0]+ " ===")
                console.log(response[0].impactSize+ " ===")
                var NameArr = []; 
                var ImpArr = []; 
                var ClrArr = ["#ff0000","#990099","#ff9900","#009900"];
                for (i = 0; i < response.length; i++) { 
                    NameArr.push(response[i].items)
                    ImpArr.push(response[i].support)
                    // ClrArr.push(response[i].color)
                }
                
                var ctx = document.getElementById("c9chart").getContext('2d');
                var myChart = new Chart(ctx, {
                  type: 'pie',
                  data: {
                    labels: NameArr,
                    datasets: [{
                      label: 'Customer Base',
                      data: ImpArr,
                      backgroundColor:  ClrArr
                    }]
                  }
                });
        }
            });



        $.ajax({
        type: 'POST',
        url: '/parttimecompasss',
        dataType: "json",
        async:false,
        success: function(response) {
                
                  response = $.parseJSON('[' + response + ']');
                  console.log(response[0]+ " ===")
                console.log(response[0].impactSize+ " ===")
                var NameArr = []; 
                var ImpArr = []; 
                var ClrArr = ["#ff0000","#990099","#ff9900","#009900"];
                for (i = 0; i < response.length; i++) { 
                    NameArr.push(response[i].items)
                    ImpArr.push(response[i].support)
                    // ClrArr.push(response[i].color)
                }
                
                var ctx = document.getElementById("c3chart").getContext('2d');
                var myChart = new Chart(ctx, {
                  type: 'pie',
                  data: {
                    labels: NameArr,
                    datasets: [{
                      label: 'Customer Base',
                      data: ImpArr,
                      backgroundColor:  ClrArr
                    }]
                  }
                });
        }
            });




});






        $( "#details" ).click(function() {
                 $('#detailsmodal').modal('show')
                 // alert("LOLOL")
            });
    </script>

</body>


</html>
