<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" > ACME Supermarket(Nugegoda)  </a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                


            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                 <ul class="nav navbar-nav side-nav">
                    <li >
                        <a href="{{ url_for('home') }}"><i class="fa fa-fw fa-dashboard"></i> Home</a>
                    </li>
                    <li >
                        <a href="{{ url_for('itemsales') }}"><i class="fa fa-fw fa-bar-chart-o"></i> Item Sales</a>
                    </li>
                    <li  >
                        <a href="{{ url_for('StockNotification') }}"><i class="fa fa-fw fa-bell-o"></i> Notifications </a>
                    </li>

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Items <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="{{ url_for('Instantfoodproducts') }}">Instant food products</a>
                            </li>
                            <li>
                                <a href="{{ url_for('UHTmilk') }}">UHT-milk</a>
                            </li>
                            <li>
                                <a href="{{ url_for('abrasivecleaner') }}">Abrasive cleaner</a>
                            </li>
                            <li>
                                <a href="{{ url_for('bakingpowder') }}">baking powder</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active" >
                        <a href="{{ url_for('itemPatterns') }}"><i class="fa fa-fw fa-pie-chart"></i> Buying Patterns</a>
                    </li>
                    <li>
                        <a href="{{ url_for('customersegments') }}"><i class="fa fa-fw fa fa-group"></i> Customer Base Info</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Buying patterns ,Placement options and Promotion suggestions

                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="dashboard.html">ISMCxES</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Buying patterns
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row"> <!-- ============================================================================== -->

                    <div class="row">
                    <div class="col-lg-12">
                        <h2>Item Sales Overview</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Rule</th>
                                        <th>Confidence</th>
                                        <th>Support</th>

                                    </tr>
                                </thead>
                                <tbody>




                                    {% for association in datalist %}


                                        <td> <div>  {{ association.rule }} </div></td>
                                        <td><div> {{ association.confidence }}   </div>   </td>
                                        <td> <div>{{ association.support }}  </div>    </td>

                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>



                  <!-- ============= RESTCOK NOTIFICATION MODAL ================= -->


                    <!-- ====================== MODAL END ======================= -->
                </div>

                </div> <!-- ================================================================ -->
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

</div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <script type="text/javascript">

{#        $( document ).ready(function() {#}
{#            alert('document is ready')#}
{#        });#}


        function reorder(itemname,iteminshelf)
        {
            alert("lol oiiii   =>  "+ itemname  + "  +*+  " + iteminshelf)
            if(iteminshelf < 30)
            {
                $('#myModal').modal('show');
            }
            $.ajax({
            url: '/buyitem',
            data: {name: itemname, inshelf :iteminshelf},
            type: 'POST',
            success: function(response) {
                console.log(response);
                alert(response.user + " - - - ")
{#                var result = $('<div />').append(data).find('#showresults').html();#}
                $(itemname).html(response.user);
            },
            error: function(error) {
                console.log(error);
                alert("not working you ass")
            }
        });


        }


        function restockshelf()
        {
            alert("You clicked  shelf restock")
        }


    </script>

</body>

</html>
