<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" > ACME Supermarket(Nugegoda)  </a>
            </div>
            <!-- Top Menu Items -->

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                 <ul class="nav navbar-nav side-nav">
                    <li >
                        <a href="{{ url_for('home') }}"><i class="fa fa-fw fa-dashboard"></i> Home</a>
                    </li>
                    <li class="active">
                        <a href="{{ url_for('itemsales') }}"><i class="fa fa-fw fa-bar-chart-o"></i> Item Sales</a>
                    </li>
                    <li >
                        <a href="{{ url_for('StockNotification') }}"><i class="fa fa-fw fa-bell-o"></i> Notifications </a>
                    </li>

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Items <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="{{ url_for('Instantfoodproducts') }}">Instant food products</a>
                            </li>
                            <li>
                                <a href="{{ url_for('UHTmilk') }}">UHT-milk</a>
                            </li>
                            <li>
                                <a href="{{ url_for('abrasivecleaner') }}">Abrasive cleaner</a>
                            </li>
                            <li>
                                <a href="{{ url_for('bakingpowder') }}">baking powder</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ url_for('itemPatterns') }}"><i class="fa fa-fw fa-pie-chart"></i> Buying Patterns</a>
                    </li>
                    <li>
                        <a href="{{ url_for('customersegments') }}"><i class="fa fa-fw fa fa-group"></i> Customer Base Info</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Item Sales Overview

                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  ISMCxES
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Item Sales
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row"> <!-- ============================================================================== -->

                    <div class="row">
                    <div class="col-lg-12">
                        <h2>Item Sales Overview</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Item ID</th>
                                        <th>Item Category</th>
                                        <th>Item name</th>
                                        <th>Item Description</th>
                                        <th>Item Total Sales</th>
                                        <th>Item price</th>
                                        <th>Item In stock</th>
                                        <!-- <th>ADD ITEM TO SHELF</th> -->
{#                                        <th><b> Shelf Capacity</b></th>#}
                                        <th>Items In shelf</th>
                                        <!-- <th>BUY ITEM</th> -->
{#                                        <th>Item In shelf</th>#}


                                    </tr>
                                </thead>
                                <tbody>


                                    {% for item in datalist %}

                                       {% if item.soldTotal > 400 %}
                                            <tr class="success">
                                           {% elif item.soldTotal < 10 %}
                                                <tr class="danger">
                                                {% else %}
                                                     <tr class="active">
                                       {% endif %}
                                        <td> <div>  {{ item.id }} </div></td>
                                        <td><div id="{{ item.category }}"> {{ item.category }} </div></td>
                                        <td><div> {{ item.name }}   </div>   </td>
                                        <td> <div id="{{ item.description }}  ">{{ item.description }}  </div>    </td>
                                        <td> <div id="{{ item.soldTotal }}     "> {{ item.soldTotal }}     </div>    </td>
                                        <td> <div id="{{ item.price }}"> {{ item.price }}$ </div>      </td>
                                        <td>{{ item.instock }}      </td>
                                        <!-- <td>  <button onclick="restockshelf()" type="button" class="btn btn-default" id="{{ item.id }}"> + </button> </td> -->
{#                                        <td> <b> {{ item.inshelf  }}</b></td>#}

                                        <td> <div id="{{ item.name }}">{{ item.inshelf }} </div></td>

                                        <!-- <td> <button onclick="reorder('{{ item.name }}','{{ item.inshelf }}')" type="button" class="btn btn-default" id="{{ item.id }}" > - </button></td> -->
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>


                  <!-- ============= RESTCOK NOTIFICATION MODAL ================= -->

                        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>

                    <!-- ====================== MODAL END ======================= -->
                </div>

                </div> <!-- ================================================================ -->
                <!-- /.row -->
                <div class="row">
                   <div class="col-sm-2">   <button id="btnPOS" type="button" class="btn btn-primary"> Initiate POS</button> </div>
                   <div class="col-sm-2">   <button id="btnDEPLETION" type="button" class="btn btn-primary"> Initiate DEPLETION</button> </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

</div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <script type="text/javascript">




$(document).ready(function(){
            setInterval(function() {
            window.location.reload();
                         }, 10000);
});

        function reorder(itemname,iteminshelf)
        {
            alert("lol oiiii   =>  "+ itemname  + "  +*+  " + iteminshelf)
            if(iteminshelf < 30)
            {
                $('#myModal').modal('show');
            }
            $.ajax({
            url: '/buyitem',
            data: {name: itemname, inshelf :iteminshelf},
            type: 'POST',
            success: function(response) {
                console.log(response);
                alert(response.user + " - - - ")
{#                var result = $('<div />').append(data).find('#showresults').html();#}
                $(itemname).html(response.user);
            },
            error: function(error) {
                console.log(error);
                alert("not working you ass")
            }
        });


        }


        function restockshelf()
        {
            alert("You clicked  shelf restock")
        }

         $('#btnPOS').click(function(){
                $.ajax({
                        url: '/initiatePOS',
                        data: $('form').serialize(),
                        type: 'POST',
                        success: function(response) {

                                window.location.reload()


                        },
                        error: function(error) {
                            console.log(error);
                        }
        });
            });

         $('#btnDEPLETION').click(function(){
        alert("CLICEKED")
                $.ajax({
                        url: '/initiateDEPLETION',
                        data: $('form').serialize(),
                        type: 'POST',
                        success: function(response) {

                                window.location.reload()


                        },
                        error: function(error) {
                            console.log(error);

                      }
        });
            });


    </script>

</body>

</html>
