<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" > ACME Supermarket(Nugegoda)  </a>
            </div>
            <!-- Top Menu Items -->

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                           <div class="collapse navbar-collapse navbar-ex1-collapse">
                 <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="{{ url_for('home') }}"><i class="fa fa-fw fa-dashboard"></i> Home</a>
                    </li>
                    <li >
                        <a href="{{ url_for('itemsales') }}"><i class="fa fa-fw fa-bar-chart-o"></i> Item Sales</a>
                    </li>
                    <li >
                        <a href="{{ url_for('StockNotification') }}"><i class="fa fa-fw fa-bell-o"></i> Notifications </a>
                    </li>

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Items <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse" >
                            <li>
                                <a href="{{ url_for('Instantfoodproducts') }}">Instant food products</a>
                            </li>
                            <li>
                                <a href="{{ url_for('UHTmilk') }}">UHT-milk</a>
                            </li>
                            <li>
                                <a href="{{ url_for('abrasivecleaner') }}">Abrasive cleaner</a>
                            </li>
                            <li>
                                <a href="{{ url_for('bakingpowder') }}">baking powder</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ url_for('itemPatterns') }}"><i class="fa fa-fw fa-pie-chart"></i> Buying Patterns</a>
                    </li>
                    <li>
                        <a href="{{ url_for('customersegments') }}"><i class="fa fa-fw fa fa-group"></i> Customer Base Info</a>
                    </li>
                                         <li>
                        <a href="{{ url_for('futureenhancements') }}"><i class="fa fa-fw fa fa-bank"></i> Future Enhancements</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{ item.name }}
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="dashboard.html">Dashboard</a>
                            </li>
                            <li>
                                <i class="fa fa-desktop"></i> Item options :
                            </li>
                            <li class="active">
                                <i class="	fa fa-asterisk"></i> {{ item.name }}:
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <!-- Main jumbotron for a primary marketing message or call to action -->
{#                =============================================================#}

                <div class="row">
                    <div class="col-sm-8">

                        <div class="jumbotron">


                            <div id="nameofitem"><h2>{{ item.name }}</h2></div>
                            <h3> | {{ item.categoryname }}</h3>
                            <p> {{ item.description }}</p>
                                <p> {{ item.price }}$</p>
                                <p> {{ item.weight }} Oz</p>
                            <!-- <p><a href="#" class="btn btn-primary btn-small" role="button"> Item sales summary</a> -->
                            </p>
                        </div>

                    </div>
                    <div class="col-sm-4">
                    <img class="img-thumbnail" src="{{item.url}}" alt="">
                    </div>
                    
                    </div>
                </div>

                    <!-- ====================================  CHART ========================== -->

   <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Impacted Items of <strong> {{ item.name }}</strong></h3>
                            </div>
                            <div class="panel-footer">


                                </canvas><canvas id="myChart"></canvas>


                            </div>
                        </div>
                    </div>
                </div>
                    <!-- ========================================================================= -->
                <div class="page-header">
                     
                </div>
<!--                 <div class="page-header">
                    <h1>Item Live Sales</h1>
                </div> -->
                <div class="row">

<!--                     <div class="col-sm-12">
                        <ul class="list-group">
                            <li class="list-group-item">In stock : <input id="stock" type="text" value="{{ item.instock }}" readonly >  <a href="#" class="btn btn-primary btn-small" role="button"> re order</a></li>
                            <li class="list-group-item">In shelf : <input id="shelf" type="text" value="{{ item.inshelf }}" readonly >  <a id="buy" href="#" class="btn btn-primary btn-small" role="button"> - </a></li>
                            <li class="list-group-item">${{ item.price }}</li>
                        </ul>
                    </div> -->
<!--                     <div class="col-sm-12" >
                        <ul class="list-group">
                            <label for="soldQ1">SoldQ1</label>
                            <input type="text" class="form-control" id="soldQ1" value="{{ item.soldQ1 }}">
                            <label for="soldQ2">SoldQ2</label>
                            <input type="text" class="form-control" id="soldQ2"  value="{{ item.soldQ2 }}">
                            <label for="soldQ3">SoldQ3</label>
                            <input type="text" class="form-control" id="soldQ3" value="{{ item.soldQ3 }}">
                            <label for="soldQ4">SoldQ4</label>
                            <input type="text" class="form-control" id="soldQ4"  value="{{ item.soldQ4 }}">
                            <label for="soldTotal">SoldTotal</label>
                            <input type="text" class="form-control" id="SoldTotal"  value="{{ item.soldTotal }}">
                        </ul>
                    </div> -->
                    <!-- /.col-sm-4 -->

                    <!-- /.col-sm-4 -->
                </div>






            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $( document ).ready(function() {

        var vvv = $( "#nameofitem" ).text();
        // alert(vvv)
        //===================================================

           $.ajax({
        type: 'POST',
        url: '/getImpactIFP',
        dataType: "json",
        data: {'message': vvv},
        async:false,
        success: function(response) {
                
                  response = $.parseJSON('[' + response + ']');
                  console.log(response[0]+ " ===")
                console.log(response[0].impactSize+ " ===")
                var NameArr = []; 
                var ImpArr = []; 
                var ClrArr = [];
                for (i = 0; i < response.length; i++) { 
                    NameArr.push(response[i].name)
                    ImpArr.push(response[i].impactSize)
                    ClrArr.push(response[i].chex)
                }
                
                var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx, {
                  type: 'pie',
                  data: {
                    labels: NameArr,
                    datasets: [{
                      label: 'Total Sold',
                      data: ImpArr,
                      backgroundColor:  ClrArr
                    }]
                  }
                });
        }
            });



});

//         //=========================================================
// {#         alert('system is on alert fot stock')#}
// {#        var t = $('#shelf').val();#}
// {#        alert(t)#}
// {#        if(t < 25)#}
// {#        {#}
// {#            $('#myModal').modal('show');#}
// {#        }#}
// });

    //================================

    $( "#buy" ).click(function() {
        var sh = $('#shelf').val();
        var st = $('#stock').val();
{#  alert( "Handler for .click() called." + sh+ " : "   + st);#}
        var newsh = sh-1;
        $('#shelf').val(newsh);

        if(newsh < 25)
        {
            $('#myModal').modal('show');
        }
            $.ajax({
            url: '/buyitem',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
                alert(response + " - - - ")
            },
            error: function(error) {
                console.log(error);
                alert("not working you ass")
            }
        });
});



</script>

</body>

</html>
