<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ISM</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <!-- <link href="../static/css/plugins/morris.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" > ACME Supermarket(Nugegoda)  </a>



            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">

            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                 <div class="collapse navbar-collapse navbar-ex1-collapse">
                 <ul class="nav navbar-nav side-nav">
                    <li >
                        <a href="{{ url_for('home') }}"><i class="fa fa-fw fa-dashboard"></i> Home</a>
                    </li>
                    <li >
                        <a href="{{ url_for('itemsales') }}"><i class="fa fa-fw fa-bar-chart-o"></i> Item Sales</a>
                    </li>
                    <li class="active" >
                        <a href="{{ url_for('StockNotification') }}"><i class="fa fa-fw fa-bell-o"></i> Notifications </a>
                    </li>

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Items <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="{{ url_for('Instantfoodproducts') }}">Instant food products</a>
                            </li>
                            <li>
                                <a href="{{ url_for('UHTmilk') }}">UHT-milk</a>
                            </li>
                            <li>
                                <a href="{{ url_for('abrasivecleaner') }}">Abrasive cleaner</a>
                            </li>
                            <li>
                                <a href="{{ url_for('bakingpowder') }}">baking powder</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ url_for('itemPatterns') }}"><i class="fa fa-fw fa-pie-chart"></i> Buying Patterns</a>
                    </li>
                    <li>
                        <a href="{{ url_for('customersegments') }}"><i class="fa fa-fw fa fa-group"></i> Customer Base Info</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">



                            Notifications <small> </small>



                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  ISMCxES
                            </li>
                            <li class="active">
                                <i class="fa fa-bell"></i> Notifications
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->





                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Re Stock Notifications <strong> {{ restock|length }}</strong> Notifications</h3>
                            </div>
                            <div class="panel-body">

                            
                                                
                                                  <table class="table table-hover">
                                                <thead>
                                                    <tr>

                                                        <!-- <th>Restock Notifications</th> -->
                                                    <!--     <th>|</th> -->

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for ReStockNotification in restock %}
                                                    <tr>
                                                        <td>
<!--                                                          {% if ReStockNotification.status == "Pending" %}
                                                                <div class="alert alert-info fade in">
                                                                  <strong> {{ ReStockNotification.notification }} </strong> is running out on shelf. Please Restock. <strong> {{ ReStockNotification.ITEMQty }} </strong> units needed to restock 
                                                                </div>
                                                         {% elif ReStockNotification.status == "Completed" %}
                                                                <div class="alert alert-success  fade in">
                                                                  <strong> {{ ReStockNotification.notification }} </strong>Restocking completed 
                                                                </div>
                                                        {% endif %}  -->
                                                        

                                                           {% if ReStockNotification.status == "Pending" %}
                                                                 <div class="alert alert-warning">
                                                                  <strong> {{ ReStockNotification.notification }} </strong> is running out on shelf. Please Restock. <strong> {{ ReStockNotification.ITEMQty }} </strong> units needed to restock 
                                                                  <!-- <div class="userInfo">{{ReStockNotification.date }}</div> -->
                                                                  <!-- <span class="tooltiptext"> {{ReStockNotification.date }} </span> -->
                                                                </div>
                                                            {% endif %}    
                                                            {% if ReStockNotification.status == "Completed" %}
                                                                <div class="alert alert-success alert-dismissable">
                                                                  <strong> {{ ReStockNotification.notification }} </strong> Restocking completed 
                                                                  <!-- <div class="userInfo">{{ReStockNotification.date }}</div> -->
                                                                  <!-- <span class="tooltiptext"> {{ReStockNotification.date }} </span> -->
                                                                </div>
                                                                    {% else %}
                                                                        
                                                           {% endif %}         
                                                        </td>
                                              
                                                    </tr>
                                                    {% endfor %}

                                                </tbody>
                                                  </table>

                            </div>
                        </div>
                    </div>
               <!--  </div>

                <div class="row"> -->
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Re Order Notifications <strong> {{ reorder|length }}</strong> Notifications </h3>
                            </div>
                            <div class="panel-body">

                            
                                                
                                                  <table class="table table-bordered table-hover table-striped">
                                                <thead>
                                                    <tr>

                                                        <th>Reorder Item name</th>
                                                        <th>Order QTY</th>
                                                        <th>Status</th>
                                                        <th></th>
                                                        <th></th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for ReOrderNotification in reorder %}
                                                    <tr>
                                                        <td>{{ ReOrderNotification.notification }}</td>
                                                        <td>{{ ReOrderNotification.ITEMQty }}</td>
                                                        <!-- <td>{{ ReOrderNotification.status }} -->
                                                        <td>
                                                            {% if ReOrderNotification.status == "Pending" %}
                                                                  <strong style="color:orange;"> {{ ReOrderNotification.status }} </strong>
                                                            {% endif %}  
                                                             {% if ReOrderNotification.status == "On order" %}
                                                                   <strong style="color:blue;"> {{ ReOrderNotification.status }} </strong>
                                                            {% endif %}    
                                                            {% if ReOrderNotification.status == "Delivered" %}
                                                                 <strong style="color:green;"> {{ ReOrderNotification.status }} </strong>
                                                                {% else %}
                                                                        
                                                           {% endif %}  

                                                        </td>
                                                        <td> 

                                                         {% if ReOrderNotification.status == "Pending" %}
                                                                  <button type="button" class="btn btn-primary sc" value="{{ReOrderNotification.notification}}" >Order</button>
                                                            {% endif %}    
                                                            {% if ReOrderNotification.status == "On order" %}
                                                                <button disabled type="button" class="btn btn-primary sc" value="{{ReOrderNotification.notification}}" >Order</button> 
                                                           {% endif %}
                                                           {% if ReOrderNotification.status == "Delivered" %}
                                                                 <button disabled type="button" class="btn btn-primary sc" value="{{ReOrderNotification.notification}}" >Order</button> 
                                                                        
                                                           {% endif %}   

                                                         </td>

                                                         <td>
                                                              <button id="details" type="button" class="btn btn-danger">Dismiss</button>

                                                         </td>
                                                    </tr>
                                                    {% endfor %}

                                                </tbody>
                                                  </table>

                            </div>
                        </div>
                    </div>
                </div>

             

             
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- ================================================================= -->
<div id="sendingordermodal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

    <!-- ======================================================================== -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
  <!--   <script src="../static/js/plugins/morris/raphael.min.js"></script>
    <script src="../static/js/plugins/morris/morris.min.js"></script>
    <script src="../static/js/plugins/morris/morris-data.js"></script> -->

    <script type="text/javascript">


   $(document).ready(function(){



        //    $.ajax({
        // type: 'POST',
        // url: '/createOrder',
        // dataType: "json",
        // data: {'message': $(this).val()},
        // async:false,
        // success: function(response) {

        // }
        //     });



});

// function showmodal() {
//     console.log("peeee")
//     $('#sendingordermodal').show();
// }

// $(".btn").on("click", function (event) {
//     var uid = $(this).data("uid");
//     // $(this) will be refer to button which was clicked 
//     console.log(uid)
// });


// $('.alert').each(function() {
//     var $this = $(this);
//     $this.popover({
//       trigger: 'hover',
//       placement: 'right',
//       html: true,
//       content: $this.find('.userInfo').html()  
//     });
// });

// $('#details').on('click', function() {
//     $('#sendingordermodal').show();
//     // alert(" LOLOL")
// });
  




        $( ".sc" ).click(function() {
                 // $('#detailsmodal').modal('show')
{#                alert($(this).val());#}
                   $.ajax({
            url: '/createOrder',
            data: {'itemname': $(this).val()},
            type: 'POST',
            success: function(response) {

                    location.reload();
            },
            error: function(error) {
                console.log(error);
                // alert("not working")
                location.reload();
            }
        });
    });
           
    </script>

</body>


</html>
